bài 1

In [ ]:
import pandas as pd
import numpy as np

mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

series_from_list = pd.Series(mylist)
series_from_array = pd.Series(myarr)

series_from_dict = pd.Series(mydict)

series_from_list.head(), series_from_array.head(), series_from_dict.head()

(0    a
 1    b
 2    c
 3    d
 4    e
 dtype: object,
 0    0
 1    1
 2    2
 3    3
 4    4
 dtype: int64,
 a    0
 b    1
 c    2
 d    3
 e    4
 dtype: int64)

bài 2

In [5]:
import numpy as np
import pandas as pd
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict) 
df = ser.to_frame()
df_reset = df.reset_index()
df_reset.columns = ['Ky_tu', 'Gia_tri']
df_reset.head()

  Ky_tu  Gia_tri
0     a        0
1     b        1
2     c        2
3     d        3
4     e        4

bài 3

In [6]:

import numpy as np
import pandas as pd
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df_cols = pd.concat([ser1, ser2], axis=1)
df_cols.columns = ['letters', 'numbers']

df_from_dict = pd.DataFrame({'letters': ser1, 'numbers': ser2})

df_cols.head()

  letters  numbers
0       a        0
1       b        1
2       c        2
3       d        3
4       e        4

bài 4

In [7]:

import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
#1
ser1_not_in_ser2 = ser1[~ser1.isin(ser2)]
print("1. Các phần tử của ser1 không nằm trong ser2:")
print(ser1_not_in_ser2)

#2
ser2_not_in_ser1 = ser2[~ser2.isin(ser1)]
ser_symmetric_diff = pd.concat([ser1_not_in_ser2, ser2_not_in_ser1])

print("\n2. Các phần tử chỉ xuất hiện ở ser1 hoặc ser2 (không trùng nhau):")
print(ser_symmetric_diff)

1. Các phần tử của ser1 không nằm trong ser2:
0    1
1    2
2    3
dtype: int64

2. Các phần tử chỉ xuất hiện ở ser1 hoặc ser2 (không trùng nhau):
0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

bài 5

In [14]:
import pandas as pd
import numpy as np
ser = pd.Series(np.random.normal(10, 5, 25))

# 1
min = ser.min() 
# 2
p25 = ser.quantile(0.25) 

# 3
median = ser.median() 

# 4
p75 = ser.quantile(0.75)

# 5
max = ser.max() 
print("--- Các thống kê cơ bản ---")
print(f"1. Giá trị tối thiểu (Min): {min:.2f}")
print(f"2. Phân vị thứ 25 (P25): {p25:.2f}")
print(f"3. Trung vị (Median/P50): {median:.2f}")
print(f"4. Phân vị thứ 75 (P75): {p75:.2f}")
print(f"5. Giá trị tối đa (Max): {max:.2f}")

--- Các thống kê cơ bản ---
1. Giá trị tối thiểu (Min): 1.29
2. Phân vị thứ 25 (P25): 7.05
3. Trung vị (Median/P50): 11.08
4. Phân vị thứ 75 (P75): 15.02
5. Giá trị tối đa (Max): 17.48

bài 6

In [15]:
import pandas as pd
import numpy as np

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# 1. Giải thích ý nghĩa của đoạn code:
print("1. Giải thích ý nghĩa của đoạn code:")
print("> Code này tạo ra một Series Pandas gồm 30 phần tử (size=30).")
print("> Các giá trị của Series được chọn ngẫu nhiên (np.random.randint(8)) từ danh sách các ký tự ('a' đến 'h') đã được đưa vào hàm np.take().")
print("> Kết quả là một chuỗi 30 ký tự, lặp lại ngẫu nhiên từ 'a' đến 'h'.")

# 2. 
value_counts = ser.value_counts()

print("\n2. Số lần xuất hiện của mỗi giá trị duy nhất:")
print(value_counts)

1. Giải thích ý nghĩa của đoạn code:
> Code này tạo ra một Series Pandas gồm 30 phần tử (size=30).
> Các giá trị của Series được chọn ngẫu nhiên (np.random.randint(8)) từ danh sách các ký tự ('a' đến 'h') đã được đưa vào hàm np.take().
> Kết quả là một chuỗi 30 ký tự, lặp lại ngẫu nhiên từ 'a' đến 'h'.

2. Số lần xuất hiện của mỗi giá trị duy nhất:
e    6
g    5
c    4
f    4
h    3
a    3
b    3
d    2
Name: count, dtype: int64

bài 7

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# 1
top_2_values = ser.value_counts().index[:2]

# 2
is_top_2 = ser.isin(top_2_values)

# 3
ser_replaced = pd.Series(np.where(is_top_2, ser, 'Other'))

print("\nSeries sau khi thay thế:")
print(ser_replaced)

Series sau khi thay thế:
0         1
1         1
2         4
3         4
4         4
5         4
6         1
7     Other
8     Other
9         1
10    Other
11    Other
dtype: object

bài 8

In [18]:
ser = pd.Series(np.random.random(20))

labels = [f'decile_{i+1}' for i in range(10)]
ser_deciles = pd.qcut(ser, 10, labels=labels)  
ser_deciles.head()

0    decile_7
1    decile_9
2    decile_1
3    decile_6
4    decile_9
dtype: category
Categories (10, object): ['decile_1' < 'decile_2' < 'decile_3' < 'decile_4' ... 'decile_7' < 'decile_8' < 'decile_9' < 'decile_10']

bài 9

In [19]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

# 1. Giải thích ý nghĩa lệnh tạo Series:
print("1. Giải thích ý nghĩa lệnh tạo Series:")
print("> Lệnh này tạo ra một Series Pandas có kích thước là 35 phần tử.")
print("> Các phần tử là các số nguyên ngẫu nhiên (randint) nằm trong khoảng từ 1 đến 9 (không bao gồm 10).")

# 2
df_reshaped = pd.DataFrame(ser.values.reshape(7, 5))

print("\n2. DataFrame 7 hàng và 5 cột:")
print(df_reshaped)

1. Giải thích ý nghĩa lệnh tạo Series:
> Lệnh này tạo ra một Series Pandas có kích thước là 35 phần tử.
> Các phần tử là các số nguyên ngẫu nhiên (randint) nằm trong khoảng từ 1 đến 9 (không bao gồm 10).

2. DataFrame 7 hàng và 5 cột:
   0  1  2  3  4
0  1  3  4  3  6
1  9  2  1  8  7
2  3  1  9  3  6
3  2  9  2  6  5
4  3  9  4  6  1
5  4  7  4  5  8
6  7  4  1  5  5

bài 10

In [23]:
ser = pd.Series(np.random.randint(1,10,7))
vi_tri = ser[ser % 3 == 0].index.tolist()
ser, vi_tri

(0    1
 1    3
 2    7
 3    4
 4    9
 5    3
 6    5
 dtype: int32,
 [1, 4, 5])

bài 11

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
extracted = ser.iloc[pos]  
extracted.reset_index(drop=True)

0    a
1    e
2    i
3    o
4    u
dtype: object

bài 12

In [25]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
# theo chiều ngang
df_h = pd.concat([ser1, ser2], axis=1)
df_h.columns = ['num', 'char']

# theo chiều dọc 
ser_vertical = pd.concat([ser1, ser2], ignore_index=True)

df_2rows = pd.DataFrame([ser1.values, ser2.values])
df_h, ser_vertical.head(), df_2rows

(   num char
 0    0    a
 1    1    b
 2    2    c
 3    3    d
 4    4    e,
 0    0
 1    1
 2    2
 3    3
 4    4
 dtype: object,
    0  1  2  3  4
 0  0  1  2  3  4
 1  a  b  c  d  e)

bài 13

In [26]:
ser1 = pd.Series([10,9,6,5,3,1,12,8,13])
ser2 = pd.Series([1,3,10,13])

vị_tri = [int(ser1[ser1 == v].index[0]) if (ser1 == v).any() else None for v in ser2]
vi_tri

[1, 4, 5]

bài 14

In [27]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = ((truth - pred) ** 2).mean()
mse

np.float64(0.3652994634670822)

bài 15

In [29]:
ser = pd.Series(['how','to','kick','ass?'])
ser_capitalized = ser.str.capitalize()  
ser_capitalized

0     How
1      To
2    Kick
3    Ass?
dtype: object

bài 16

In [30]:
ser = pd.Series([1,3,6,10,15,21,27,35])
diffs = ser.diff()  
diffs_clean = diffs.dropna().astype(int)
diffs, diffs_clean

(0    NaN
 1    2.0
 2    3.0
 3    4.0
 4    5.0
 5    6.0
 6    6.0
 7    8.0
 dtype: float64,
 1    2
 2    3
 3    4
 4    5
 5    6
 6    6
 7    8
 dtype: int64)

bài 17

In [36]:
import pandas as pd
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
timeseries = pd.to_datetime(ser, errors='coerce')
print(timeseries)

0   2010-01-01
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]

bài 18

In [ ]:
import pandas as pd
emails = pd.Series(['I.buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narenda@modi.com'])
pattern = r'([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4})'

# Trích xuất các chuỗi khớp với pattern
extracted_emails = emails.str.extract(pattern, expand=False).dropna()

print("Dữ liệu email gốc:")
print(emails)

print("\nĐịa chỉ email hợp lệ được trích xuất:")
print(extracted_emails)

Dữ liệu email gốc:
0    I.buying books at amazom.com
1               rameses@egypt.com
2                       matt@t.co
3                narenda@modi.com
dtype: object

Địa chỉ email hợp lệ được trích xuất:
1    rameses@egypt.com
2            matt@t.co
3     narenda@modi.com
dtype: object

bài 19

In [ ]:
import pandas as pd

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
df = pd.DataFrame({'Fruit': fruit, 'Weight': weights})
average_weight = df.groupby('Fruit')['Weight'].mean()
print("--- Data Frame Tạm thời ---")
print(df)
print("\n--- Khối lượng trung bình của từng loại quả ---")
print(average_weight)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'apple', 'carrot', 'carrot', 'banana', 'apple', 'banana', 'banana', 'banana', 'banana']
--- Data Frame Tạm thời ---
    Fruit  Weight
0  carrot     1.0
1   apple     2.0
2  carrot     3.0
3  carrot     4.0
4  banana     5.0
5   apple     6.0
6  banana     7.0
7  banana     8.0
8  banana     9.0
9  banana    10.0

--- Khối lượng trung bình của từng loại quả ---
Fruit
apple     4.000000
banana    7.800000
carrot    2.666667
Name: Weight, dtype: float64

bài 20

In [40]:
import pandas as pd

data = {
    'Team': ['England', 'France', 'Spain', 'Italy', 'Germany', 'Russia', 'Greece', 'Portugal', 'Sweden', 'Poland', 'Croatia', 'Denmark', 'Ireland', 'Ukraine', 'Czech Republic', 'Netherlands'],
    'Goals': np.random.randint(1, 10, 16),
    'Yellow Cards': np.random.randint(0, 5, 16),
    'Red Cards': np.random.randint(0, 2, 16),
    'Shooting Accuracy': [30.1, 45.2, 55.6, 40.5, 38.9, 42.1, 35.0, 48.0, 31.0, 33.3, 39.5, 30.0, 32.5, 36.5, 41.0, 37.5] # Giả định là %
}
euro12 = pd.DataFrame(data)
#1
print("1. Giá trị cột 'Goals':")
print(euro12['Goals'])
#2
num_teams = euro12.shape[0] # Lấy số hàng
print(f"\n2. Số đội tham gia Euro 2012: {num_teams}")
#3
print("\n3. Thông tin DataFrame (euro12.info()):")
euro12.info()
#4
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print("\n4. DataFrame 'discipline':")
print(discipline.head())
#5
discipline_sorted = discipline.sort_values(
    by=['Red Cards', 'Yellow Cards'],
    ascending=[False, False] 
)
print("\n5. DataFrame 'discipline' đã sắp xếp:")
print(discipline_sorted.head())
#6a
mean_yellow_cards = euro12['Yellow Cards'].mean()
print(f"\n6. a) Trung bình 'Yellow Cards' của Euro 2012: {mean_yellow_cards:.2f}")
#6b
teams_over_6_goals = euro12[euro12['Goals'] > 6]
print("\n7. b) Các đội đã ghi hơn 6 bàn thắng:")
print(teams_over_6_goals[['Team', 'Goals']])
#7

teams_start_G = euro12[euro12['Team'].str.startswith('G')]
print("\n8. Các đội có tên bắt đầu bằng 'G':")
print(teams_start_G['Team'])
#8

cols_to_keep = euro12.columns[:-3]
euro12_less_3_cols = euro12[cols_to_keep]
print("\n9. DataFrame bỏ 3 cột cuối:")
print(euro12_less_3_cols.head())
#9
selected_cols = ['Team', 'Goals', 'Shooting Accuracy', 'Yellow Cards', 'Red Cards']
euro12_selected = euro12[selected_cols]
print("\n10. Các cột được chọn:")
print(euro12_selected.head())
#10
target_teams = ['England', 'Italy', 'Russia']
filtered_rows = euro12[euro12['Team'].isin(target_teams)]
final_output = filtered_rows[['Team', 'Shooting Accuracy']]
print("\n11. 'Team', 'Shooting Accuracy' của England, Italy, Russia:")
print(final_output)

1. Giá trị cột 'Goals':
0     3
1     8
2     6
3     3
4     1
5     3
6     5
7     3
8     1
9     5
10    7
11    7
12    9
13    3
14    7
15    1
Name: Goals, dtype: int32

2. Số đội tham gia Euro 2012: 16

3. Thông tin DataFrame (euro12.info()):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               16 non-null     object
 1   Goals              16 non-null     int32
 2   Yellow Cards       16 non-null     int32
 3   Red Cards          16 non-null     int32
 4   Shooting Accuracy  16 non-null     float64
dtypes: float64(1), int32(3), object(1)
memory usage: 580.0+ bytes

4. DataFrame 'discipline':
      Team  Yellow Cards  Red Cards
0  England             3          0
1   France             4          1
2    Spain             3          1
3    Italy             4          1
4  Germany             4          1

5. DataFrame 'discipline' đã sắp xếp:
      Team  Yellow Cards  Red Cards
1   France             4          1
3    Italy             4          1
4  Germany             4          1
6   Greece             4          1
8   Sweden             4          1

6. a) Trung bình 'Yellow Cards' của Euro 2012: 2.75

7. b) Các đội đã ghi hơn 6 bàn thắng:
              Team  Goals
1           France      8
10         Croatia      7
11         Denmark      7
12         Ireland      9
14  Czech Republic      7

8. Các đội có tên bắt đầu bằng 'G':
4    Germany
6     Greece
Name: Team, dtype: object

9. DataFrame bỏ 3 cột cuối:
      Team  Goals
0  England      3
1   France      8
2    Spain      6
3    Italy      3
4  Germany      1

10. Các cột được chọn:
      Team  Goals  Shooting Accuracy  Yellow Cards  Red Cards
0  England      3               30.1             3          0
1   France      8               45.2             4          1
2    Spain      6               55.6             3          1
3    Italy      3               40.5             4          1
4  Germany      1               38.9             4          1

11. 'Team', 'Shooting Accuracy' của England, Italy, Russia:
      Team  Shooting Accuracy
0  England               30.1
3    Italy               40.5
5   Russia               42.1